.header{
    /* GPT */
    margin-top: 49px;
    display: flex;
    justify-content: center;
}
.container{
    /* background: #FFFDF5; */
    /* width: 1170px; */
    min-width: 1170px;
    /* margin: 0px auto; *//*не работает!*/
}



.header__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input__header{
    margin-left: 19px;
    width: 308px;
    border: none;
    border-bottom: 0.5px solid #7D7D7D;
    background-color: #FFFDF5;
}
.avatar{
    margin-left: 39px;
}
.heart{
    margin-left: 15px;
}
.shopping__bag{
    margin-left: 15px;
}


.header__content{
    margin-top: 50px;
}
.test{
    display: grid;
    grid-template-columns: 694px 476px;
    grid-template-rows: 242px 174px;
}
.img1{
    box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.40);
}

.img2{
    box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.40);
}
.welcome{
    width: 537px;
    height: 114px;
    margin-top: 60px;
    color: #121212;

    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;

}
.welcome span{
    color: #514A7E;
    font-family: 'Bad Script', cursive;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.406%;
}
.moot{
    /* margin-top: 60px; *//* Как должно быть */
    margin-top: 53px;
    width: 249px;
    height: 55px;
}
.catalog{
    margin-left: 487px;
    width: 193px;
    height: 193px;
    /* background-image: url('../public/img/btn.png'); */
    /* background-image: url('../../../public/img/btn.png'); */
    background-size: cover;

}

/* ---------- advantages ---------- */
.advantages{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.advantages__title{
    height: 40px;
    color: #121212;

    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
}
.advantages__body{
    padding-top: 92px;
    height: 278px;
    width: 1029px;
}

.body__line{
    
    display: flex;
    justify-content: space-between;
}
.body__line2{
    padding-top: 98px;
    display: flex;
    justify-content: space-around;
}


.advantages__item{
    width: 175px;
    height: 26px;

    color: #7D7D7D;

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
}
/* ---------- promotion ---------- */
.promotion{
    height: 535px;
    margin-top: 150px;
    margin-left: 135px;
    background: #86829f;
}
.promotion__title{
    display: flex;
}
.promotion__title label{


    color: #121212;

    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
}
.promotion__title div{
    margin-top:30px;
    margin-left: 10px;
    color: #514A7E;
    font-family: 'Bad Script', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.305%; /* 34.922px */
}
.promotion__body{
    margin-top: 55px;
    display: flex;

    overflow-x: scroll;
    max-width: 100%; /* или любая другая фиксированная ширина */
}
.card{
    margin-right: 80px;
    width: 278px;
    height: 413px;
    background: #c98888;

    white-space: nowrap;
}

/* ---------- reviews ---------- */
.reviews{
    margin-top: 150px;
    height: 371px;
    display: flex;
    justify-content: center;
}
.reviews__title{
    height: 45px;

    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%; /* 34.922px */
    

}
.reviews__body{
    height: 326px;
    /* background: #514A7E; */
}
.tutu{
    display: flex;
}
.reviews__body__item{
    margin-top: 60px;
    margin-right: 80px;
    width: 459px;
    height: 204px;

    background: #FFFDF5;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);    
}
.reviews button{
    margin-top: 25px;
    width: 148px;
    height: 37px;  
    border: 0.5px solid #514A7E;
    background: #514A7E; 

    color: #FFFDF5;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.scrol2{
  position: absolute;
  top: 2310px;
  right: 135px;
}

/* ---------- questions ---------- */
.questions{
    margin-top: 150px;
    height: 497px;
    display: flex;
    justify-content: center;
}
.questions__title{
    display: flex;
}
.questions__title div{
    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%; /* 34.922px */
}
.questions__title label{
    margin-top: 35px;
    margin-left: 20px;

    color: #514A7E;
    font-family: Bad Script;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.305%; /* 34.922px */    
}

/* ---------- questions ---------- */
.cooperation{
    margin-top: 150px;
    height: 467px;
    display: flex;
    justify-content: center;
}
.container__title{
    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%; /* 34.922px */

    display: flex;
    width: 451px;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;    
    }
.p{
    margin-top: 73px;

    display: flex;
    width: 1170px;
    height: 29px;
    flex-direction: column;
    justify-content: center;    

    color: #7D7D7D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%; /* 18.88px */    
}
.q{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.qi{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%; /* 23.6px */

    display: flex;
    width: 121px;
    height: 37px;
    flex-direction: column;
    justify-content: center;    
}
.w{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}
.wi{
    color: #7D7D7D;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%; /* 14.16px */

    display: flex;
    width: 227px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.pp{
    margin-top: 60px;
    color: #121212;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.305%; /* 17.461px */

    display: flex;
    width: 350px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.e{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.ei{
    margin-top: 30px;
}
.r{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.ri{
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%; /* 16.52px */

    display: flex;
    width: 184px;
    height: 9px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}