*{
    margin: 0;
    padding: 0;
}
/* ---------- Header ----------- */
.header{
    margin-top: 49px;
    display: flex;
    justify-content: center;
}
.container{
    width: 1170px;
    height: 802px;
}
.header__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger{
    cursor: pointer;
}
.isBurger{
    position: absolute;
    top: 49px;
    left: 135px;


    width: 278px;
    height: 802px;
    /* background: #afacac; */
    background: #121212;
}
.ul {
    margin-left: 18px;
}
.li{
    list-style: none;
    margin-bottom: 20px;
    color: #FFFDF5;

    transition: transform 0.2s ease-in-out;
}
.li:hover{
    transform: scale(1.1);
}
/* a{
   text-decoration: none; 
   color: #FFFDF5;
} */

/* isAvatar */
.isAvatar{
    position: absolute;
    top: 97px;
    left: 1094px;


    width: 211px;
    height: 239px;
    background: #FFFDF5;    
}
.isAvatar div{
    width: 39px;
    height: 39px;
    border-radius: 50%;

    background: #C4C4C4;

    margin-top: 18px;
    margin-left: 86px;
}
.isAvatar button{
    width: 109px;
    height: 26px;

    border: 0.5px solid #514A7E;
    background: #514A7E;

    margin-left: 51px;
    margin-top: 15px;

    color: #FFFDF5;
}



.input__header{
    margin-left: 19px;
    width: 308px;
    border: none;
    border-bottom: 0.5px solid #7D7D7D;
    background-color: #FFFDF5;
}
.avatar{
    margin-left: 39px;
}
.heart{
    margin-left: 15px;
}
.shopping__bag{
    margin-left: 15px;
}
/* ---------------------- */

.header__content{
    margin-top: 50px;
}
.test{
    display: grid;
    grid-template-columns: 694px 476px;
    grid-template-rows: 242px 174px;
}
.img1{
    box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.40);
}

.img2{
    box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.40);
}
.welcome{
    width: 537px;
    height: 114px;
    margin-top: 60px;
    color: #121212;

    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;

}
.welcome span{
    color: #514A7E;
    font-family: 'Bad Script', cursive;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.406%;
}
.moot{
    /* margin-top: 60px; *//* Как должно быть */
    margin-top: 53px;
    width: 249px;
    height: 55px;
}
.catalog{
    margin-left: 487px;
    width: 193px;
    height: 193px;
    background-image: url('../../../public/img/button/catalog.svg');
    background-size: cover;

}
.catalog:hover{
    /* margin-left: 445px;
    width: 275px;
    height: 275px; */
    background-image: url('../../../public/img/button/catalog1.svg');
}